<div class="container">
  <div class="row text-left">
    <div class="col-md-12">
      <h1>Movies to watch under genre: <%= @list.name %></h1>

      <%= link_to 'Add a Movie', new_list_bookmark_path(@list), class: 'btn btn-primary btn-lg' %>
        <br>
        <% @list.bookmarks.each do |bookmark| %>
          <strong><%= bookmark.movie.title %></strong>
          <br><%= bookmark.comment %>
          <br>

        <% end %>
      <%= link_to "Delete",
        movie_path(@movie),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>

    </div>
  </div>
</div>
